body {
    background-color: aliceblue;
    font-family: 'Courier New';
 
}
#nav-bar{
    height: 50px;
    width: 100%;
    display: flex;
    
}
#logo{
    padding-right: 10px;
    display: flex;
}
#search_bar{

    width: 100%;
    display: flex;
    
}
#search_bar_button{
    width: 50;
    display: flex;
    padding-right: 10px;
}
#user_profile_button{
    width: 50px;
    display: flex;
    padding-right: 10px;
}
#cart_button{
    width: 50;
    display: flex;
  
}

h2.Recomendation {
    text-align: center;
}
h2.history {
    text-align: center;
}
div.Recomendation{
    background-color: white;
}
div.history {
    background-color: white;
}
div.scroll-container{

    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
div.scroll-container img{
    padding: 10px;
    width:  200px;
    height: 200px;
}
