/* set the footer to have a gray background color and some padding to add size*/
footer {
  background-color: #f5f5f5;
  padding: 8px;
  position: fixed;/* fix the footer to the bottom of the page */
  bottom: 0;
  left: 0;
  width: 33%;
}

/*this is to align the content within the footer*/
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* removes the margin from p contents so that it doesn't add size to the footer */
.footer-content p {
  margin: 0;
}

/*styling for the contact us link*/
.footer-content nav a {
  text-decoration: none;
  color: blue;
  margin-left: 10px;
}
