body {
    background-color: aliceblue;
    font-family: 'Courier New';
 
}

#Recomendation {
    text-align: left;
}
#history {
    text-align: left;
}
.Recomendation{
    background-color: white;
}
.history {
    background-color: white;
}
.scroll-container{

    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.scroll-container img{
    padding: 5px;
    width:  200px;
    height: 200px;
}

#Recomendation{
    padding: 10px;
}
#history{
    padding: 10px;
}