.Product-Page{
    float: left;
    
}
#image-div{
    padding: 10px;
    float: left;
    
}
#info{
   float: right;
}
.add-cart-btn{
   padding-top: 10px;
}
#qty-lable{
    padding-right: 10px;
}

.custom-btn {
    background-color: #ac6868;
    color: white;
}