.soft-red-bg {
    background-color: #ffcccc; /* this is a soft red */
    color: #000; /* you may want to adjust text color to ensure it's readable, here it's black */
}

.soft-red-text {
    color: #ffcccc; /* this is a soft red */
}

.custom-btn {
    background-color: #ac6868;
    color: white;
}

.right-align {
    display: flex;
    justify-content: flex-end;  
}

.right-align-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-margin {
    margin-top: 100px;
}

.custom-padding {
    padding-top: 50px
}

